body {
    background-color: #F7F9FC;
}

h1 {
    color: red;
}

p {
    color: blue;
}

.dark {
    background-color: #23354B;
    padding: rem(8px) 0;
}

.dark2 {
    background-color: #0E5AD5;
    padding: rem(8px) 0;
}

.dark3 {
    background-color: #545F76;
    padding: rem(8px) 0;
}