body {
    background-color: #F7F9FC;
}

body *::selection {
    color: $white;
    background: $primary-color-main; // WebKit/Blink Browsers
}

body *::-moz-selection {
    color: $white;
    background: $primary-color-main; //Gecko Browsers
}

h1 {
    color: red;
}

p {
    color: blue;
}

.dark {
    background-color: #23354B;
    padding: rem(8px) 0;
}

.dark2 {
    background-color: #0E5AD5;
    padding: rem(8px) 0;
}

.dark3 {
    background-color: #545F76;
    padding: rem(8px) 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}