// Bootstrap breakpoints
$screen-sm: "(min-width: 576px)";
$screen-md: "(min-width: 768px)";
$screen-lg: "(min-width: 992px)";
$screen-xl: "(min-width: 1200px)";
$screen-xxl: "(min-width: 1400px)";
$screen-3xl: "(min-width: 1600px)";
$screen-4xl: "(min-width: 1800px)";
$screen-5xl: "(min-width: 2000px)";
