
// PRIMARY COLORS
$primary-color-main: #006BE8;       // 700
$primary-color-darker: #1839B6;     // 900
$primary-color-lighter: #D9EDFF;    // 100
$primary-color-200: #89C6FF;        // 200

// GRAY COLORS
$grey-background: #545F76;                   
$grey-color-hight: #23354B;                 // 900
$grey-color-medium: rgba(#23354B, 0.72);    // 900 72%
$grey-color-low: rgba(#23354B, 0.38);       // 900 38%
$grey-color-divider: rgba(#23354B, 0.12); // 900 12%

// ERROR COLORS
$error-color-600: #D61660;   // 600
$error-color-light: #FCE4EC; // 50   

// BUTTONS GENERAL
$btn-main-color: $primary-color-main;    //Button color
$btn-color-font: #ffffff;
$btn-font-family: "Work Sans", sans-serif;
$btn-font-size: 15px;
$btn-font-weight: 500;
$btn-border-radius: 6px;
$btn-border: 1px solid;

// BUTTONS COLOR VARIATION 
$btn-emplenat-hover: #1477EA;
$btn-emplenat-pressed: #1F7DEB;
$btn-disabled-gray: $grey-color-divider;
$btn-disabled-gray-font: $grey-color-low;
$btn-subratllat-hover: rgba($btn-main-color, 4%);
$btn-subratllat-pressed: rgba($btn-main-color, 6%);
$btn-text-light-hover: rgba($btn-main-color, 4%);
$btn-text-light-pressed: rgba($btn-main-color, 6%);
$btn-text-dark: $primary-color-200;
$btn-text-dark-hover: rgba(white, 8%);
$btn-text-dark-pressed: rgba(white, 12%);
$btn-text-disabled-dark: rgba(white, 38%);
$btn-warning-hover: #D9286C;
$btn-warning-pressed: #DB3273;
$btn-fab-hover: #1477EA;
$btn-fab-pressed: #1F7DEB;
$btn-icona-hover: #EEF1F5;
$btn-icona-pressed: #E7E9EE;
$btn-login: #ffffff;
$btn-login-circle: #F6F7F8;

// BUTTONS SHADOW VARIATION 
$btn-shadow-2dp: 0px 2px 3px 0px rgba(#23354B, 0.08);
$btn-shadow-4dp: 0px 4px 5px 0px rgba(#000000, 0.12);
$btn-shadow-8dp: 0px 6px 10px 0px rgba(#23354B, 0.14);
$btn-shadow-12dp: 0px 12px 16px 0px rgba(#23354B, 0.12);

$shadow-24dp: 0px 24px 38px 0px rgba(#000000, 0.14);

//FONTS
$font-family: "Work Sans", sans-serif;
$font-base-size: 18px;
$strong-superHight: 600;
$strong-hight: 500;
$strong-medium:400;
$font-color: $grey-color-hight;

//Radius
$input-radius: 6px;
