<!DOCTYPE html>
<html lang="ca">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SCSS EACAT </title>
        <link rel="stylesheet" href="../src/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
                rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="banner-error" role="alert">        
        <span class="material-icons" aria-hidden="true"> error</span>
        <p class="text-error grey-color-hight"> Sembla que hi ha un problema amb el document identificatiu i/o el número de telèfon que has indicat. Si us plau, consulta els <a class="grey-color-hight" href="#">principals motius d'error durant l'ús de l'idCAT Mòbil</a>.</p>      
    </div>
    
                     
</body>

</html>