<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCSS EACAT </title>
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div style="width:600px;">
        <form>
            <fieldset aria-labelledby="id-document">
                <legend class="text-p-16 p-spacing-lg" id="id-document">Document identificatiu</legend>
                <div class="select-input">
                    <div class="custom-select">
                        <label id="combo1-label" class="combo-label sr-only">Tipus document</label>
                        <div class="combo js-select">
                            <div aria-controls="listbox1" aria-expanded="false" aria-haspopup="listbox"
                                aria-labelledby="combo1-label" id="combo1" class="combo-input" role="combobox"
                                tabindex="0">
                            </div>
                            <div class="combo-menu" role="listbox" id="listbox1" aria-labelledby="combo1-label"
                                tabindex="-1">
                            </div>
                        </div>
                    </div>
                    <div class="select-text-field">
                        <label for="number-id-document" class="sr-only">Número de document (12345678A)</label>
                        <input class="field text-p-16" type="text" id="number-id-document" placeholder="12345678A">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <script src="../src/js/select.js"></script>
</body>

</html>