<!DOCTYPE html>
<html lang="ca">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SCSS EACAT </title>
        <link rel="stylesheet" href="../src/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
                rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>

<body>
        <h2>TÍTOLS</h2>
        <h1 class="display-1">.display-1 → The quick brown fox jumps over the lazy dog</h1>
        <h2 class="display-2">.display-2 → The quick brown fox jumps over the lazy dog</h2>   
        <h2 class="display-3">.display-3 → The quick brown fox jumps over the lazy dog</h2>   
        <h3 class="headline">.headline → The quick brown fox jumps over the lazy dog</h3>
        <h4 class="title">.title → The quick brown fox jumps over the lazy dog</h4>
        <h5 class="subheading-2">.subheading-2 → The quick brown fox jumps over the lazy dog</h5>
        <h6 class="subheading-1">.subheading-1 → The quick brown fox jumps over the lazy dog</h6>
        
        <h2>PARÀGRAFS</h2>
        <p class="text-p-17">.text-p-17 → Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellendus maxime dolorem, doloremque enim porro, voluptatum eum laborum nesciunt quasi similique! Corrupti, eligendi dolorem saepe harum dolore voluptates repudiandae vitae.</p>
        <p class="text-p-15">.text-p-15 → Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellendus maxime dolorem, doloremque enim porro, voluptatum eum laborum nesciunt quasi similique! Corrupti, eligendi dolorem saepe harum dolore voluptates repudiandae vitae. </p>
        <p class="text-p-13">.text-p-13 → Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellendus maxime dolorem, doloremque enim porro, voluptatum eum laborum nesciunt quasi similique! Corrupti, eligendi dolorem saepe harum dolore voluptates repudiandae vitae.</p>
        <p class="text-p-17 p-strong">.text-p-17 → Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellendus maxime dolorem, doloremque enim porro, voluptatum eum laborum nesciunt quasi similique! Corrupti, eligendi dolorem saepe harum dolore voluptates repudiandae vitae.</p>
        <p class="text-p-15 p-strong">.text-p-15 → Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellendus maxime dolorem, doloremque enim porro, voluptatum eum laborum nesciunt quasi similique! Corrupti, eligendi dolorem saepe harum dolore voluptates repudiandae vitae.</p>
        <p class="text-p-13 p-strong-light">.text-p-13 → Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repellendus maxime dolorem, doloremque enim porro, voluptatum eum laborum nesciunt quasi similique! Corrupti, eligendi dolorem saepe harum dolore voluptates repudiandae vitae.</p>

        <h2>LABEL</h2>
        <p class="label-btnLink">.label-btnLink → Extranet de les Administracions Catalanes.</p>
        <p class="label-input">.label-input → Extranet de les Administracions Catalanes.</p>
        <p class="label-overline">.label-overline → Extranet de les Administracions Catalanes.</p>

        <h2>ENLLAÇOS</h2>

        <h3>Aïllats</h3>
        <a class="link-intern-normal" href="#">.link-intern-normal → Enllaç intern</a> <br>
        <a class="link-intern-underline" href="#">.link-intern-underline → Enllaç intern</a> <br>
        <a class="link-extern-normal" href="#">.link-extern-normal → Enllaç extern</a> <br>
        <a class="link-extern-underline" href="#">.link-extern-underline → Enllaç extern</a> <br>
        <a class="link-document" href="#">.link-document → Document.pdf</a> <br>       
        <a class="link-mail" href="#">.link-mail → name@domini.cat</a>        

        <h3>Integrats</h3>
        <p class="text-p-15"> Lorem ipsum dolor sit, amet <a class="link-integrat" href="#">.link-integrat</a> consectetur adipisicing elit. Error repellendus maxime dolorem, doloremque enim porro, voluptatum eum laborum nesciunt quasi similique! Corrupti, eligendi dolorem saepe harum dolore voluptates repudiandae vitae.</p>
                     
</body>

</html>