.display-1 {
    @include font(44px, 700, 52px, -0.5px);
}

.display-2 {
    @include font(36px, 700, 44px, -0.5px);
}

.display-3 {
    @include font(28px, 700, 36px);
}

.headline {
    @include font(25px, 700, 32px, 0.25px);
}

.title {
    @include font(21px, 600, 28px);
}

.subheading-2 {
    @include font(17px, 500, 24px);
}

.subheading-1 {
    @include font(15px, 500, 20px, 0.25px);
}

.text-p-17 {
    @include font(17px, 400, 28px, 0.1px);
}

.text-p-15 {
    @include font(15px, 400, 22px, 0.25px);
}

.text-p-13 {
    @include font(13px, 400, 16px, 0.4px);
}

.text-error {
    @include font(15px, 400, 20px, 0.25px);
}

// For p-17 & p-15
.p-strong-superHight {
    font-weight: $strong-superHight;
}

// Only for p-13
.p-strong-hight {
    font-weight: $strong-hight;
}

.label-btnLink {
    @include font(15px, 500, 20px, 0.5px);
}

.label-input {
    @include font(15px, 400, 20px, 0.25px);
}

.label-overline {
    @include font(11px, 500, 12px, 1.5px);
}

// COLORS AND VARIATIONS
.grey-color-hight {
    color: $grey-color-hight;
}

.grey-color-medium {
    color: $grey-color-medium;
}

// LINKS
.link-intern-normal{
    @include font(15px, 500, 20px, 0.5px);    
    color: $primary-color-main; 
    text-decoration: none;   
}

.link-intern-underline{
    @include font(15px, 500, 20px, 0.25px);    
    color: $grey-color-medium;
    &:hover {
        color: $grey-color-hight;        
    }    
}

.link-extern-normal{
    @include font(15px, 500, 20px, 0.5px);    
    color: $primary-color-main; 
    text-decoration: none;   
    &:hover {
        text-decoration: underline;       
    } 
}

.link-extern-underline{
    @include font(15px, 500, 20px, 0.25px);    
    color: $grey-color-medium;
    &:hover {
        color: $grey-color-hight;        
    }    
}

.link-document{
    @include font(15px, 500, 20px, 0.25px); 
    color: $primary-color-main; 
    text-decoration: none;
    &:hover {
        text-decoration: underline;       
    } 
}

.no-underline {
    text-decoration: none;
}

// no @include, ja que pot variar el tipus de paràgraf 
.link-mail{
    font-weight: $strong-hight;
    color: $grey-color-medium;    
    &:hover {
        color: $grey-color-hight;        
    }
}

.link-integrat{
    font-weight: $strong-medium;
    color: $primary-color-main;    
}


