.custom-select {
    .combo {
      display: block;
      position: relative;
      cursor: pointer;
    }

    .combo::after {
      font-family: "Material Icons Outlined";
      font-size: 16px;
      content: "arrow_drop_down" / "";
      color: $grey-color-medium;
      position: absolute;
      right: 16px;
      top: 31%;
      pointer-events: none;
      padding-right: 0.2rem;
    }

    .combo-input {
      background-color: $white;
      border: 1px solid $grey-color-medium;  
      border-radius: $input-radius 0px 0px $input-radius;
      display: block;
      padding: rem(12px) rem(40px) rem(12px) rem(16px);
      text-align: left;
    }

    .combo-input:focus-visible {
      border-color: 1px solid $primary-color-main;
       -webkit-box-shadow: 0px 0px 5px $primary-color-main;
       box-shadow: 0px 0px 5px $primary-color-main;
    }

    .combo-label {
      display: block;
      font-size: 20px;
      font-weight: 100;
      margin-bottom: 0.25em;
    }

    .combo-menu {
      background-color: $white;
      border: 1px solid $grey-color-medium;
      border-top-left-radius: $input-radius;
      border-bottom-left-radius: $input-radius;
      border-bottom-right-radius: $input-radius;
      border-top: none;
      display: none;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      box-sizing: border-box;
      z-index: 100;
    }

    .open .combo-menu {
      display: block;
    }

    .combo-option {
      padding: 10px 12px 12px;
    }

    .combo-option.option-current .option-text {
        color: $primary-color-main;
        border-bottom: 2px solid $primary-color-main;
    }

    .combo-option[aria-selected="true"] {
      padding-right: 30px;
      position: relative;
    }
}