// BUTTONS (ICON / ICON+TEXT / TEXT+ICON)
@mixin btn($type, $state, $size, $icon) {

    // GENERAL
    border: none;
    background: none;
    border-radius: $btn-border-radius;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    margin: 8px;

    // ICON GENERAL SIZE
    .material-icons-outlined {
        font-size: 20px;
    }

    // ICON ALIGN & GAP
    @if $icon !='no' {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    //SIZE
    @if $size =='mitjar' {
        height: 44px;
    }

    @else if $size =='petit' {
        height: 36px;
    }


    // ICON PADDING
    @if $size =='mitjar' and $icon =='yes-left' {
        padding: 12px 16px 12px 12px;
    }

    @else if $size =='mitjar' and $icon =='yes-right' {
        padding: 12px 12px 12px 16px;
    }

    @else if $size =='mitjar' and $icon =='no' {
        padding: 12px 16px;
    }

    @if $size =='petit' and $icon =='yes-left' {
        padding: 8px 16px 8px 12px;
    }

    @else if $size =='petit' and $icon =='yes-right' {
        padding: 8px 12px 8px 16px;
    }

    @else if $size =='petit' and $icon =='no' {
        padding: 8px 16px;
    }

    // TYPES & STATES
    // *** Emplenat ***
    @if $type =='emplenat' {
        @if $state =='active' {
            background-color: $btn-main-color;
            color: $btn-color-font;
            cursor: pointer;

            &:hover {
                background-color: $btn-emplenat-hover;
                box-shadow: $btn-shadow-4dp;
            }

            &:active {
                background-color: $btn-emplenat-pressed;
                box-shadow: $btn-shadow-8dp;
            }

            &:focus {
                background-color: $btn-emplenat-pressed;
            }
        }

        @else if $state =='disabled' {
            background-color: $btn-disabled-gray;
            color: $btn-disabled-gray-font;
        }
    }

    // *** Subratllat ***
    @if $type =='subratllat' {
        @if $state =='active' {
            border: $btn-border $grey-color-divider;
            color: $grey-color-hight;
            cursor: pointer;

            &:hover {
                background-color: $btn-subratllat-hover;
                border: $btn-border $btn-main-color;
                color: $btn-main-color;
            }

            &:active {
                background-color: $btn-subratllat-pressed;
                border: $btn-border $btn-main-color;
                color: $btn-main-color;
            }

            &:focus {
                background-color: $btn-subratllat-pressed;
                border: $btn-border $btn-main-color;
                color: $btn-main-color;
            }
        }

        @else if $state =='disabled' {
            border: $btn-border $btn-disabled-gray;
            color: $btn-disabled-gray-font;
        }
    }

    // *** De tetx ***
    @if $type =='text' {
        @if $state =='light' {
            color: $btn-main-color;
            cursor: pointer;

            &:hover {
                background-color: $btn-text-light-hover;
            }

            &:active {
                background-color: $btn-text-light-pressed;
            }

            &:focus {
                background-color: $btn-text-light-pressed;
            }
        }

        @else if $state =='dark' {
            color: $btn-text-dark;
            cursor: pointer;

            &:hover {
                background-color: $btn-text-dark-hover;
            }

            &:active {
                background-color: $btn-text-dark-pressed;
            }

            &:focus {
                background-color: $btn-text-dark-pressed;
            }
        }

        @else if $state =='disabled-light' {
            color: $btn-disabled-gray-font;
        }

        @else if $state =='disabled-dark' {
            color: $btn-text-disabled-dark;
        }
    }

    // *** Warning ***
    @if $type =='warning' {
        @if $state =='active' {
            background-color: $error-color-600;
            color: $btn-color-font;
            cursor: pointer;

            &:hover {
                background-color: $btn-warning-hover;
                box-shadow: $btn-shadow-4dp;
            }

            &:active {
                background-color: $btn-warning-pressed;
                box-shadow: $btn-shadow-8dp;
            }

            &:focus {
                background-color: $btn-warning-pressed;
            }
        }
    }

    // *** FAB ***
    @if $type =='fab' {
        @if $state =='active' {
            background-color: $btn-main-color;
            color: $btn-color-font;
            box-shadow: $btn-shadow-4dp;
            cursor: pointer;

            &:hover {
                background-color: $btn-fab-hover;
                box-shadow: $btn-shadow-8dp;
            }

            &:active {
                background-color: $btn-fab-pressed;
                box-shadow: $btn-shadow-12dp
            }

            &:focus {
                background-color: $btn-fab-pressed;
            }
        }

        @if $size =='mitjar' {
            .material-icons-outlined {
                font-size: 24px;
            }

            width: 56px;
            height: 56px;
            border-radius: 50%;
            padding:16px;
        }

        @else if $size =='petit' {
            .material-icons-outlined {
                font-size: 20px;
            }

            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding:10px;
        }
    }

    // *** FAB estès***
    @if $type =='fabestes' {
        @if $state =='active' {
            background-color: $btn-main-color;
            color: $btn-color-font;
            box-shadow: $btn-shadow-4dp;
            border-radius: 100px;
            cursor: pointer;

            &:hover {
                background-color: $btn-fab-hover;
                box-shadow: $btn-shadow-8dp;
            }

            &:active {
                background-color: $btn-fab-pressed;
                box-shadow: $btn-shadow-12dp
            }

            &:focus {
                background-color: $btn-fab-pressed;
            }
        }

        @if $size =='mitjar' {
            .material-icons-outlined {
                font-size: 24px;
                margin: 0px 8px 0px 0px;
            }

            padding: 12px 20px 12px 12px;
        }
    }

    // *** ICONA ***
    @if $type =='icona' {
        @if $state =='light' {
            color: $grey-color-medium;
            cursor: pointer;

            &:hover {
                background-color: $btn-icona-hover;
            }

            &:active {
                background-color: $btn-icona-pressed;
            }

            &:focus {
                background-color: $btn-icona-pressed;
            }
        }

        @else if $state =='disabled-light' {
            color: $btn-disabled-gray-font;
        }

        @else if $state =='dark' {
            color: $btn-color-font;
            cursor: pointer;

            &:hover {
                background-color: $btn-text-dark-hover;
            }

            &:active {
                background-color: $btn-text-dark-pressed;
            }

            &:focus {
                background-color: $btn-text-dark-pressed;
            }
        }

        @else if $state =='disabled-dark' {
            color: $btn-text-disabled-dark;
        }

        @if $size =='medium' {
            .material-icons-outlined {
                font-size: 24px;
            }

            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 8px;
        }

        @else if $size =='small' {
            .material-icons-outlined {
                font-size: 20px;
            }

            width: 36px;
            height: 36px;
            border-radius: 50%;
            padding: 8px;
        }

        @else if $size =='x_small' {
            .material-icons-outlined {
                font-size: 16px;
            }

            width: 24px;
            height: 24px;
            border-radius: 50%;
            padding: 6px;
        }
    }
}

// LOGIN BUTTON
@mixin btn-login() {

    // GENERAL
    border: none;
    background: none;
    border-radius: $btn-border-radius;
    border: rem(1px) solid $grey-color-divider;
    font-family: $btn-font-family;            
    background-color: #fff;
    text-align: left;    
    margin: rem(8px); // 8*2=16px between buttons
    padding: 0;
    cursor: pointer;

    // CONTENT
    .btn-login-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: rem(16px);

        .material-icons {
            color: $grey-color-medium;
            font-size: rem(24px);
            padding: rem(24px) rem(16px) rem(24px) 0;
        }
    }

    // ICON CIRLE
    .icon-circle {
        background-color: #F6F7F8;
        width: rem(36px);
        height: rem(36px);
        border-radius: 50%;
        margin: rem(18px) 0 rem(18px) rem(16px);

        .material-icons {
            color: $grey-color-hight; 
            font-size: rem(20px);
            padding: rem(8px);
        }
    }    

    // CONTENT H3 & P
    .btn-login-text{
        padding: rem(16px) 0;
    }

    h3 {
        margin: 0 0 rem(4px) 0;
        color: $grey-color-hight;         
        font-size: $btn-font-size;
        font-weight: $btn-font-weight;
        line-height: rem(20px);
        letter-spacing: rem(0.25px);        
    }

    p {
        margin: 0;        
        color: $grey-color-medium;
        font-size: rem(13px);
        font-weight: 400;
        line-height: rem(16px);
        letter-spacing: rem(0.4px);
    }
}